[build]
  publish = "."

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/edit"
  to = "/edit.html"
  status = 200

[[redirects]]
  from = "/admin"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
